
volumes:


  mariadb-data:
    driver: local
    driver_opts:
      type: none
      device: /home/jbutragu/data/mariadb
      o: bind

  wordpress-data:
    driver: local
    driver_opts:
      type: none
      device: /home/jbutragu/data/wordpress
      o: bind

networks:
  inception:
    driver: bridge

secrets:
  db_password:
    file: ../secrets/db_password.txt
  db_root_password:
    file: ../secrets/db_root_password.txt

services:
  mariadb:
    container_name: mariadb
    build: requirements/mariadb/.
    volumes:
      - mariadb-data:/var/lib/mysql
    networks:
      - inception
    restart: always
    env_file: .env
    secrets:
      - db_password
      - db_root_password

  wordpress:
    container_name: wordpress
    build: requirements/wordpress/.
    volumes:
      - wordpress-data:/var/www/html
    networks:
      - inception
    restart: always
    env_file: .env
    depends_on:
      - mariadb
    secrets:
      - db_password

  nginx:
    container_name: nginx
    build: requirements/nginx/.
    volumes:
      - wordpress-data:/var/www/html
    networks:
      - inception
    restart: always
    env_file: .env
    depends_on:
      - wordpress
    ports:
      - "443:443"
